body {
    margin: 0;
    font-family: 'Cuprum', sans-serif;
    font-style: normal;
    font-size: 16px
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

*, *::after, *::before {
    box-sizing: border-box;
}

.container {
    max-width: 970px;
    width: 100%;
    margin: 0 auto;
}



/* Root */
:root {
    --basic-color: #293449;
    --secondary-color: #EE3643;
    --basic-background-lightblue: #F1F5F7;
    --text-color: #32425C;
    --basic-background-white: #F9F5F0;
    --basic-oldprice: #A9A9A9;
    --basic-extra-white: #EAEAEA;
    --basic-footer-white: #F3F7F9;
    --basic-footer-yellow: #FFD180;
    --basic-lightgreen: #63A63E;
}
/* Btn */

.btn {
    background-color: var(--secondary-color);
    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    padding: 10px 20px;
    
    color: white;
    text-decoration: none;
    border: none;
    outline: none;
    text-align: center;
    align-items: center;
}


/* Header  */

.header {
    background-color: var(--basic-background-lightblue);
}
.header_menu {
    display: flex;
    align-items: center;
    justify-content: space-between
}

.header_logo {
    background-color: var(--secondary-color);
    padding: 1.1% 56px;
    box-shadow: 0px 5px 0px 0px rgb(186,39,50);
    -webkit-box-shadow: 0px 5px 0px 0px rgb(186,39,50);
    -moz-box-shadow: 0px 5px 0px 0px rgb(186,39,50);
}

.header_container-color {
    background-color: var(--basic-color);
}

/* Header search */

.header_search_input {
    position: relative;
    
}

.header_search {
    outline: none;
    border: none;
    padding: 12px 0px;
    padding-left: 25px;
    width: 270px;
    background-color: var(--basic-color);
    color: white;
}



.header_search::placeholder { 
    color: white;
}

.header_icon_search::before {
    background-image: url(../img/icon-search.svg);
    background-repeat: no-repeat;
    position: absolute;
    height: 17px;
    width: 17px;
    content: '';
    top: 12px;
    left: 0px;
    opacity: 0.3;
    transition: 0.1s
}

.header_icon_search:hover:before {
    opacity: 1;
}

/* Header search */


/* Header Btn */


.header_text {
    color: white;
    position: relative;
}


.bookmark, .cart {
    padding-left: 20px;
}
.bookmark:before {
    background-image: url(../img/icon-bookmark.svg);
    background-repeat: no-repeat;
    position: absolute;
    height: 15px;
    width: 15px;
    content: '';
    top: 0px;
    left: 0px;
    opacity: 0.3;
    transition: 0.1s
}

.cart:before {
    background-image: url(../img/icon-cart.svg);
    background-repeat: no-repeat;
    position: absolute;
    height: 15px;
    width: 15px;
    content: '';
    top: 0px;
    left: 0px;
    opacity: 0.3;
    transition: 0.1s
}

.header_text:hover:before {
    opacity: 1;
}

.header_link {
    text-decoration: none;
}

.order {
    background-color: var(--basic-lightgreen);
    height: 100%;
    padding: 12.6px 10px;
}

/* Header Btn */


.header_inner {
    padding-top: 50px; 
    display: flex;
    justify-content: space-between;
}

.header_about_btn {
    border: none;
    background-color: white;
    outline: none;
    padding: 10px 15px;
    cursor: pointer;
    position: relative;
}

.header_about_btn:hover {
    color: var(--secondary-color)
}

.login {
    padding: 10px 30px;
    text-align: center;
}
.login::before {
    content: url(../img/icon-login.svg);
    position: absolute;
    top: 10px;
    left: 5px;
}

.header_inner_text {
    color: var(--secondary-color);
    font-style: italic;

}

.header_inner_phone {
    text-decoration: none;
    color: var(--secondary-color);
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    position: relative;
    padding-left: 25px;
    border: 3px solid white;
    
}

.header_inner_phone:before {
    content: url(../img/icon-phone.svg);
    position: absolute;
    left: 0px;
    top: 0px;
}

.header_inner_address {
    font-style: normal;
    font-size: 14px;
    color: var(--text-color)
}

.header_nav {
    height: 100px;
}

.header_nav_list {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 21px  0px;; 
    margin: 0px;
    margin-top: 30px;
    background-color: var(--text-color);
    width: 100%;
}

.header_nav_link {
    background-color: var(--text-color);
    text-decoration: none;
    color: white;
    box-shadow: inset 0px -5px 0px #293449;
    padding: 20px 48px;
}




/* features */

.features_inner {
    height: 123px;
    width: 300px;
}

.red {
    background-color:rgba(255, 255, 255, 0.3);
    padding: 10px;
    width: 150px;
}
.features_link {
    background-color:rgba(255, 255, 255, 0.3);

    text-transform: uppercase;
    font-size: 14px;
    line-height: 18px;
    text-decoration: none;
    color: white;
    padding: 10px;

}

.features_link:hover {
    background-color:rgba(197, 197, 197, 0.3);

}

.features_perforator_title {
    font-weight: bold;
    font-size: 36px;
    line-height: 36px;
    color: white;
    text-transform: uppercase;
}

.features_perforator_subtitle {
    font-size: 18px;
    line-height: 24px;
    color: white;
}

.test {
    opacity: 0.9;
}

.features_title {
    color: white;
    font-weight: bold;
    font-size: 24px;
    line-height: 30px;
}
/* Пока так, потом сетку на гридах сделаю */

.materials {
    background-color: #FFC047
}

.tool {
    background-color: #3BBCE3;
}

.technics {
    background-color: #DC91D8;
}

.perforator {
    background-image: url(../img/perforator.jpg);
    background-repeat: no-repeat;
    height: 266px;
}

.discount {
    background-color: #8ED78F;
}

.delivery {
    background-color: #FFC047;
}


/* Title content */
.title_box {
    background-color: var(--basic-background-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.title_content {
    font-size: 30px;
    line-height: 30px;
    color: var(--text-color);
    text-transform: uppercase;
}


/* Product */



.product_features_list {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.product_features_item {
    border: 1px solid var(--basic-extra-white);
    width: 220px;
    height: 318px;
    padding: 0;
    margin: 0;
}

.product_features_name {
    font-size: 18px;
    font-weight: bold;
}

.product_features_oldprice {
    color: var(--basic-oldprice);
    text-decoration: line-through;
}

.product_features_inner {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.proudct_features_btn {
    border: none;
    outline: none; 
    color: white;
    background-color: var(--secondary-color);
    padding: 10px 20px;
    border-radius: 2px;
    cursor: pointer;
}


/* Manufacutres */ 

.manufacturers_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between
}





/* Services */

.services {
    background-color:var(--basic-background-lightblue)
}

.servies_content__title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.sevices_content__subtitle {
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
}

.services__inner {
    display: flex;
    
}

.services_inner_wrapper {
    margin-right: 50px;
}

.services__inner_list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.services__inner_btn {
    color: white;
    background-color: var(--text-color);
    outline: none;
    border: none;
    cursor: pointer;
    width: 240px;
    height: 61px;
    text-align: left;
    padding-left: 30px;
    font-weight: bold;
    font-size: 21px;
    line-height: 30px;
    box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
}

.services_content_title {
    text-transform: uppercase;
    font-size: 30px;
    line-height: 30px;
    color: var(--text-color)
}

.services_content_subtitle {
    font-family: 'PT Sans', sans-serif;
    font-size: 13px;
    line-height: 24px;
}

/* About */

.about_wrapper {
    display: flex;
    justify-content: space-between;
}

.about__title {
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
}

.about__subtitle {
    font-size: 13px;
    line-height: 24px; 
    font-family: 'PT Sans', sans-serif;
    max-width: 460px;
}

.about_inner__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.about_inner__text {
    font-size: 18px;
    line-height: 24px;
}

.about_contacts {
    display: flex;
    flex-direction: column;
}


/* Footer */

.footer_inner {
    background-color: var(--text-color)
}

.footer_wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
}
.footer_logo {
    background-color: var(--secondary-color);
    position: absolute;
    top: 0px;
    left: 0px;
    padding: 20px 41px;
    box-shadow: 0px 5px 0px 0px rgb(186 39 50);
    -webkit-box-shadow: 0px 5px 0px 0px rgb(186 39 50);
    -moz-box-shadow: 0px 5px 0px 0px rgb(186,39,50)
}

.footer_list {
    list-style-type: none;
    margin-left: auto;
    display: flex;
    padding: 0;
}

.footer_item {
    margin-left: 65px;
    margin-top: 30px;
}

.footer_link {
    color: var(--basic-background-lightblue);
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
}

.footer-address, .footer_phone {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 24px;
    color: var(--basic-footer-white);
    text-decoration: none;
}

.footer_list_secondary {
    list-style-type: none;
    display: flex;
    padding: 0;
}



.footer_item_secondary {
    color:var(--basic-footer-yellow);
    margin-left: 65px;

}

.footer_link_secondary {
    font-size: 18px;
    line-height: 24px;
    text-decoration: none;
    color:var(--basic-footer-yellow)
}

.footer_inner_secondary {
    background-color:var(--basic-color)
}

.footer_secondary {
    display: flex;
    justify-content: space-between;
}

.footer_secondary_title {
    color: white;
    line-height: 18px;
}

.footer_secondary_list {
    display: flex;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.footer_secondary_contacts {
    display: flex;
}

.footer_secondary_text {
    color: white;
    margin-left: 30px;
}

.footer_secondary_subtext {
    text-decoration: none;
    color:var(--basic-footer-yellow)
}